section.hero {
  padding: 10vh 24px 60vw 24px;

  @include media(">phone") {
    padding: 132px;
    min-height: 70vh;
  }

  h1 {
    font-size: 34px;
    font-weight: 900;
    margin: 0;
    max-width: 758px;
    color: $clr-title;
    @include media(">phone") {
      font-size: 48px;
    }

    @include media(">laptop") {
      font-size: 64px;
    }
  }

  p {
    padding-top: 64px;
    font-size: 18px;
    font-weight: 400;
    max-width: 65vw;
    float: right;
    color: $clr-body;

    @include media(">phone") {
      max-width: 500px;
    }
  }

  .circle {
    position: absolute;
    top: 0;
    right: -42px;
    width: 927px;
    height: 927px;
    border: 1px solid $clr-border;
    border-radius: 50%;
    z-index: -1;

    @include media(">phone") {
      display: block;
    }
  }

  .line {
    position: absolute;
    top: 927px;
    right: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $clr-border;
    z-index: -1;
  }
}
