.marquee {
  position: relative;
  grid-column-end: span 3;
  width: calc(100% + 248px);

  width: 100%;
  position: relative;
  margin-top: -14px;
  &__wrapper {
    top: -74px;
    position: absolute;
    width: 100%;
    h2 {
      display: flex;
      align-items: center;
      background-color: $clr-background;
    }

    overflow: hidden;
    border-top: 1px solid $clr-border;
    border-bottom: 1px solid $clr-border;
  }
  &__item {
    text-transform: uppercase;
    text-align: center;
    width: auto;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $clr-body;
    font-size: 24px;
    font-weight: 900;
    font-family: "Chivo", sans-serif;

    &:hover {
      background-color: $clr-border;
    }

    padding: 24px 24px;

    @include media(">phone") {
      padding: 24px 48px;
    }

    @include media(">laptop") {
      padding: 24px 72px;
    }
  }
}
