header.navbar {
  height: var(--navbar-height);
  border-bottom: 1px solid $clr-border;

  @include media(">phone") {
    display: grid;

    grid-template-columns: 12vw 1fr 12vw;
  }

  .logo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-weight: 900;
    margin-top: -4px;

    @include media(">phone") {
      border-right: 1px solid $clr-border;
    }
  }

  nav {
    visibility: hidden;

    @include media(">phone") {
      visibility: visible;
    }

    ul {
      display: flex;
      height: 100%;
      align-items: center;
      margin-left: 5vw;

      li {
        height: 100%;
        display: flex;
        align-items: center;
      }
    }

    a {
      font-size: 16px;
      font-weight: 600;
      color: $clr-black;
      text-decoration: none;

      @include media(">phone") {
        margin: 0 24px;
        font-size: 18px;
      }

      @include media(">laptop") {
        margin: 0 32px;
        font-size: 20px;
      }
    }
  }
}
