.project {
  &__hero {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $clr-border;

    &.full {
      display: block;
      img {
        width: 70%;
        max-width: 100%;
        margin: unset;
        padding-top: unset;
        margin-top: -144px;

        &:nth-child(2) {
          margin: 0 auto;
          z-index: -1;
        }

        @include media(">phone") {
          max-width: 50%;
          margin-top: -245px;
        }
      }
      .project__hero__info {
        display: flex;
        flex-direction: column-reverse;
      }
    }

    .circle {
      position: absolute;
      top: 96px;
      right: -162px;
      width: 927px;
      height: 927px;
      border: 1px solid $clr-border;
      border-radius: 50%;
      z-index: -1;

      @include media(">phone") {
        display: block;
      }
    }

    .line {
      position: absolute;
      top: 927px;
      right: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $clr-border;
      z-index: -1;
    }

    &__info {
      display: flex;
      flex-direction: column-reverse;
      gap: 44px;
      padding: 44px;

      @include media(">laptop") {
        flex-direction: row-reverse;
        gap: 88px;
      }

      &__txt {
        display: flex;
        flex-direction: column;
        gap: 28px;
      }

      p {
        font-size: 18px;
        font-weight: 400;
        color: $clr-body;

        @include media(">phone") {
          font-size: 24px;
        }

        @include media(">laptop") {
          font-size: 32px;
        }
      }
    }

    @include media(">laptop") {
      padding: 156px;
    }

    h2 {
      font-size: 24px;
      font-weight: 900;
      color: $clr-title;
      padding: 44px;
      border-bottom: 1px solid $clr-border;

      @include media(">phone") {
        font-size: 32px;
        border-bottom: unset;
      }

      @include media(">laptop") {
        font-size: 48px;
      }
    }

    img {
      width: 100%;
      max-width: 880px;
      margin: 0 auto;
    }

    p {
      font-size: 18px;
      font-weight: 400;
      color: $clr-body;
    }
  }

  &__content {
    .full-img {
      margin: 44px auto;
      max-width: 70%;
      display: block;
    }

    .marquee {
      margin-top: 70px;
    }
    h2 {
      text-align: center;
      font-size: 24px;
      font-weight: 900;
      color: $clr-title;
      padding: 44px;
      border-bottom: 1px solid $clr-border;

      @include media(">phone") {
        font-size: 32px;
        border-bottom: unset;
      }
    }

    &__grid {
      display: grid;
      grid-template-columns: repeat(2, minmax(300px, 1fr));
      margin: auto;
      padding-top: 84px;

      &.three-cols {
        grid-template-columns: repeat(3, minmax(300px, 1fr));
      }

      &.one-col {
        grid-template-columns: 1fr;
      }

      &__item {
        border: 1px solid $clr-border;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 24px;
        text-decoration: none;
        color: inherit;

        &:nth-child(odd),
        &:nth-child(even) {
          border-left: unset;
        }

        img {
          width: 100%;
          @include media(">laptop") {
            margin-left: unset;
            width: 50%;
            max-width: 880px;
          }
        }

        &__info {
          display: flex;
          flex-direction: column;
          gap: 8px;

          h3 {
            font-size: 24px;
            font-weight: 900;
            color: $clr-title;

            @include media(">phone") {
              font-size: 32px;
            }
          }

          p {
            font-size: 18px;
            font-weight: 400;
            color: $clr-body;
          }

          a {
            font-size: 18px;
          }
        }
      }
    }

    &__row {
      display: flex;
      flex-direction: column;
      padding-top: 84px;

      &__item {
        border-bottom: 1px solid $clr-border;
        display: flex;
        flex-direction: column;

        align-items: center;
        @include media(">laptop") {
          flex-direction: row;
        }
        &:nth-child(odd) {
          flex-direction: column;
          @include media(">laptop") {
            flex-direction: row-reverse;
          }
        }
        &__img {
          width: 100%;
          max-width: 880px;
          margin: 0 auto;
          img {
            width: 100%;
            @include media(">laptop") {
              width: 469px;
              object-fit: cover;
            }
          }
          @include media(">laptop") {
            margin: unset;
            padding: unset;
          }
        }

        p {
          font-size: 18px;
          font-weight: 400;
          color: $clr-body;
          padding: 24px;
          @include media(">laptop") {
            padding: 0 164px;
          }
        }
      }
    }
  }
}
