@import "navbar";
@import "hero";
@import "projects";
@import "project";
@import "marquee";
@import "about";
@import "skills";

aside {
  height: 100%;
  width: 100%;
  border-right: 1px solid $clr-border;
}

a.contact {
  display: block;
  margin: 80px auto 80px auto;
  width: fit-content;
  text-align: center;
  font-weight: 600;
  color: $clr-body;
  text-decoration: none;
  background-color: $clr-black;
  color: #ffffff;
  padding: 12px 24px;

  svg {
    width: 18px;
    color: $clr-title;
  }
}
